<main>
  <h1>About Us</h1>
  <div class="about">
    <p>
      <i>"SteakHouse"</i>
      is the best plase to learn about steaks and all the types of cooking
      <a href="https://softuni.bg/trainings/2452/js-back-end-september-2019">JS
        Back-End course</a>
      at the
      <a href="https://softuni.bg/">Software University</a>.</p>
  </div>
</main>