<main>
  <section class="sec1">
 <h1 class="maintext">SteakHouse KAETS</h1>
  </section>
  <div class="about">
    <p>
      <i>"SteakHouse KAETS"</i>
     is the best plase to TASTE, LEARN and MAKE steaks in the WORLD
      
  </div>
</main>