<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>Cubicle</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
  </head>

  <body>
    <div class="container">
      <header>
        <ul>
          <li><a href="/"><img class="logo" src="/images/logoSteack.jpg" /></a></li>
          
          <li><a href="/browse">Browse</a></li>
          <li><a href="/cubes/create">Add a Steak</a></li>
          <li><a href="/about">About Us</a></li>
        </ul>
      </header>

      {{{body}}}
    </div>

    <footer>@SteakHouse: Learn about steaks and doneness</footer>
  </body>

</html>